{% include "heading.html" %}

<body class="register-page">

{% include "menu.html" %}

  <div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div id="square7" class="square square-7"></div>
              <div id="square8" class="square square-8"></div>
              <div class="card card-register">
                <div class="card-header">
                  <img class="card-img" src="{{ url_for('static', filename='assets/img/square1.png') }}" alt="Card image">
                  <h4 class="card-title">Entrar</h4>
                </div>
                <div class="card-body">
                  <form class="form" action="/login/judge/" method="POST">

                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"></i>
                        </div>
                      </div>
                      <input name="email" type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      <input name="password" type="text" class="form-control" placeholder="Senha">
                    </div>

                    <div class="card-footer">
                      <button type="submit" class="btn btn-info btn-round btn-lg">Entrar</button>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>

          <div class="register-bg"></div>
          <div id="square1" class="square square-1"></div>
          <div id="square2" class="square square-2"></div>
          <div id="square3" class="square square-3"></div>
          <div id="square4" class="square square-4"></div>
          <div id="square5" class="square square-5"></div>
          <div id="square6" class="square square-6"></div>
        </div>
      </div>
    </div>


{% include "footer.html" %}
